
{{> head}}

    {{> navbar  }}

    <div class="jumbotron">
        <div class="col-8"> Hi {{ capitalizar nombre }}, your are in About section.</div>
    </div>

    <div class="col-4">

        <img src="assets/images/17.jpg" class="img-thumbnail" alt="image1">
    </div>
    </div>

{{> footer }}